<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
		#divid{
			height: 70%;
			width: 100%;
			/*background-color: red;*/
			text-align: center;
			/*margin-top: 20px;*/
			/*background-image: url(banner.jpg);*/
			background-size: cover;
			background-position: absolute;
			/*color: #fff;*/
		}
		#call{
			font-family: sans-serif;
			text-align: left;
			background-color: powderblue;
			font-size: 20px;
			height: 30%;
			width: 100%;

		}
	</style>
	</head>
	<body >
		<div id=divid>
			<!--<img src="banner.jpg" height="100%" width="100%" />-->
		<h1>WEL COME</h1>
		<h2>
			Generalized Feature Selection for Regression Model
		</h2>
		<!--<p>general feature selection using regresssion</p>-->
		</div>
		<div id=call>
			<blockquote>
			Feature selection is a way to reduce the number of features and hence reduce the computational complexity of the model.
			Many times feature selection becomes very useful to overcome with overfitting problem.
			It helps us in determining the smallest set of features that are needed to predict the response variable with high accuracy.
			 If we ask the model, does adding new features, necessarily increase the model performance significantly? if not then why to add those new features which are only going to increase model complexity.
			Our Application selects the optimal features for your regression model. Just upload your file and get the optimal features. 
			</blockquote><br/><br>
			<button type="button" class="btn btn-primary" href="/upload">Lets Go!!</button>

		</div>
	</body>
	</html>